{% extends "base.html" %}
{% block content %}
<main id="content" role="main">
  <h1 class="heading-large">Problems</h1>

  <h2 class="heading-large">User Info</h1>
  <div class="grid-row">
    <div class="column-full">

    <p>You are in team: {{team_info.team_name}}</p>
    <p>Score: {{team_info.score}}</p>
    <p>Members:
      {% for user in team_info.members %}
        <span>{{user}}</span>
      {% endfor %}
    </p>
  </div>
  </div>

  <h2 class="heading-large">Problems</h1>
  <div class="grid-row">
    {% for group in problems|groupby("category") %}
      <div class="column-one-third">
        <h3 class="heading-medium">{{group.grouper}}</h3>
        {% for problem in group.list %}
        <div class="problem panel">
          <p><a href="/problem/{{problem.pid}}">{{problem.name}}</a></p>
          {% if problem.solved %}
          <p style="color:#006435"><span class="font-xxlarge">{{problem.score}}</span> points</p>
          {% else %}
          <p><span class="font-xxlarge">{{problem.score}}</span> points</p>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</main>
{% endblock %}
