{% extends "base.html" %}
{% block content %}
<main id="content" role="main">
  <h1 class="heading-large">Problems</h1>

  <h2 class="heading-large">User Info</h1>
  <div class="grid-row">
    <div class="column-full">

    <p>You are in team: {{team_info.team_name}}</p>
    <p>Score: {{team_info.score}}</p>
    <p>Members:
      {% for user in team_info.members %}
        <span>{{user}}</span>
      {% endfor %}
    </p>
  </div>
  </div>

  <h2 class="heading-large">Problems</h1>
  <div class="grid-row">
    {% for group in problems|groupby("category") %}
      <div class="column-one-third">
        <h3 class="heading-medium">{{group.grouper}}</h3>
        {% for problem in group.list %}
        <div class="problem" {% if problem.solved %}style="background: #85994B
"{% endif %}>
          <h3 class="heading-small"><a href="/problem/{{problem.pid}}">{{problem.name}}</a></h3>
          <p>{{problem.description|safe}}</p>
          <p>Score: {{problem.score}}</p>
        </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</main>
{% endblock %}
