<html>
  <head>
    <title>Is something hidden here?</title>
    </head>
  
  <body>
    <center>
      <div style="width: 500px">
	<h1>Could there be a secret message on this page?</h1>
	
	<font color="white">The flag is: $flag</font>

	</div>
      </center>
    </body>
</html>
