body {
    background-color: #303030;
}

#main-content {
    min-height: 35vh;
}

a.old-pico-link:hover {
    background-color: #1e2936 !important;
}

.header-logo {
    height: 100%;   
}

.faded-chart {
    opacity: 0.25; 
    filter: alpha(opacity=25);
}

.button-column {
    padding-left: 0px;
    padding-right: 0px;
}   

.login-changer {
    text-align: right;
}

.hidden-page {
    display: none;   
}

img {
    max-width: 100%;
}

#main-content h1, 
#main-content h2, 
#main-content h3, 
#main-content h4, 
#main-content h5, #main-content h6 {
    color: #1B7B81;
    font-weight: 500;
}

.lead {
   color: #1B7B81;
   font-weight: 500;
}

img.logo {
	background-color: white;
	display: block;
	vertical-align: middle;
	border-radius: 15px;
	border-style: solid;
	border-width: 5px;
	border-color: white;
	margin: auto;
}

.home-section {
	margin-bottom: 0px;
}

.wrap-pattern {
	background-color: #161415;
	border-bottom: none;
}

.team-visualization-enabler {
    cursor: pointer;
}

.delete-group-span {
    cursor: pointer;
}

.leave-group-span {
    cursor: pointer;
}

.deleter-column {
    width: 30px;
}

#footer {
    margin-top: 60px;   
}

.footer-widget {
    text-align: left; 
}

.show-when-logged-out {
    display: none;   
}

.tab-pane-outline {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0px 0px 5px 5px;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}

.hover-label {
    position: absolute;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.fuzzy-bottom {
    position: absolute;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(209,209,209,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(209,209,209,0)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(209,209,209,0) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(209,209,209,0) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(209,209,209,0) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(209,209,209,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d1d1d1', GradientType=0 );   
}

.fuzzy-top {
    position: absolute;
    background: rgba(209,209,209,0);
    background: -moz-linear-gradient(top, rgba(209,209,209,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(209,209,209,0)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(209,209,209,0) 0%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(209,209,209,0) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(209,209,209,0) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(209,209,209,0) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d1d1', endColorstr='#ffffff', GradientType=0 );   
}

.faq-search-box {
    float: right;
    width: 20em;
}

.faq-no-results {
    display: none;
}

#pico-selector-menu {
    left:auto; 
    right:0; 
    width: 280px; 
    background-color: #1e2936; 
    border: solid 3px #303030;
}

#dropdown-pico-selector {
    padding-left: 0px;
    padding-right: 0px;
    min-width: 0px;
}

@media (max-width: 768px) {
    #dropdown-pico-selector {
        display: none;   
    }
    #pico-selector-menu {
        display: none;   
    }
    #mobile-old-pico-link {
        display: block;   
    }
}

@media (min-width: 768px) {
    #dropdown-pico-selector {
        display: block;   
    }
    #mobile-old-pico-link {
        display: none;   
    }
}


/* Buttons */


/* line 43, ../scss/partials/_buttons.scss */

.btn {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #eeeeee;
    background: #eeeeee;
}

.btn:hover {
    background-color: #dcdcdc;
    background: #dcdcdc;
}

.btn-primary {
    background: #00a1cb;
    background-color:  #00a1cb;
    border-color: #007998;
    color: white;
    text-shadow: 0 -1px 1px rgba(0, 40, 50, 0.35);
}

.btn-primary:hover {
    background-color: #008db2;
    background: #008db2;
}

.btn-success {
    background: #7db500;
    background-color: #7db500;
    border-color: #5a8200;
    color: white;
    text-shadow: 0 -1px 1px rgba(19, 28, 0, 0.35);
}

.btn-success:hover {
    background-color: #6b9c00;
    background: #6b9c00;
}

.btn-danger {
    background: #e54028;
    background-color: #e54028;
    border-color: #c22d18;
    color: white;
    text-shadow: 0 -1px 1px rgba(103, 24, 13, 0.35);
}

.btn-danger:hover {
    background-color: #d9331a;
    background: #d9331a;
}


.btn-success:active {    
    color: white;
}

.btn-primary:active {    
    color: white;
}

.btn-danger:active {    
    color: white;
}