body {
    background-color: #303030;
}

#main-content {
    min-height: 35vh;
}

.navbar { 
    background-color: #151314;
}

.navbar-lime ul.navbar-nav > li > a {
    border-top: solid 4px #151314;   
}

.navbar-lime .navbar-nav > li.active > a,
.navbar-lime .navbar-nav > li.active > a:hover,
.navbar-lime .navbar-nav > li > a:hover,
.navbar-lime .navbar-nav > .open > a,
.navbar-lime .navbar-nav > .open > a:hover,
.navbar-lime .navbar-nav > .open > a:focus {
    background-color: #151314;
}

.prize-label {
    text-align: center;
}

.first-place {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 7px;
}

.second-place {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 2px;
}

.btn-group-separate .btn {
    border-top-right-radius: 4px !important; 
    border-bottom-right-radius: 4px !important; 
    border-bottom-left-radius: 4px !important; 
    border-top-left-radius: 4px !important; 
    margin-left: 15px;
    margin-right: 15px;
}

#pico-selector-menu {
    left:auto; 
    right:0; 
    width: 280px; 
    background-color: #1e2936; 
    border: solid 3px #303030;
}


.front-page-thumbnails .caption h3 {
    text-align: center;   
    margin-bottom: 0px;
}

.front-page-thumbnails .thumbnail {
    border: none;   
    text-align: center;
    margin-bottom: 0px;
}


@media (max-width: 442px) {
    .front-page-thumbnails .col-xs-6 {
        width: 100%;   
    }
}


@media (min-width: 992px) {
    .front-page-thumbnails .thumbnail .caption {
        margin-bottom: 0px;   
        padding-bottom: 0px;
    }
}

.front-page-thumbnails #frontpage-thumbnail-lock {
    top: 26px;   
}

.front-page-thumbnails #frontpage-thumbnail-trophy {
    top: 33px;   
}

.front-page-thumbnails #frontpage-thumbnail-book {
    top: 33px;   
}

.front-page-thumbnails .frontpage-thumbnail {
    height: 96px;
    width: 96px;
    position: relative;
    top: 30px;
}

.front-page-thumbnails .circle-img-box {
    border-radius: 50%;
    width: 156px;
    height: 156px;
    text-align: center;
    margin: 0 auto;     
    background-color: #25acb4;
}

/*
@media (min-width: 992px) {
    nav .container {
        width: auto;   
    }
}


@media (min-width: 1130px) {
    nav .container {
        width: 1100px;   
    }
}
*/

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
/*
    nav .container {
        width: 1100px;   
    }
*/
}


@media (max-width: 250px) {
    #twitter-box {
        display: none;
    }
}

@media (max-width: 400px) {
    #date-label {
        font-size: 10px;
        font-size: 4vw;
    }
}

@media (max-width: 1032px) {
    #date-label, #hacking-label { 
        font-size: 4vw;
    }
}

@media (min-width: 1032px) {
    #date-label, #hacking-label { 
        font-size: 41px;
    }
}


#date-label {
    position: absolute; 
    bottom: 33%; 
    width: 100%; 
    color: white !important; 
    text-align: center;   
}

#hacking-label {
    position: absolute; 
    bottom: 40%; 
    width: 100%; 
    color: white !important; 
    text-align: center;   
}

#register-button {
    position: absolute; 
    bottom: 23%; 
    width: 100%;
    text-align: center;
}

@media (max-width: 768px) {
    #register-button {
        display: none;   
    }
    #backup-register-button {
        display: inline-block;   
    }
    #date-label {
        bottom: 28%;    
    }
}

@media (min-width: 768px) {
    #backup-register-button {
        display: none;   
    }    
}

#backup-register-button {
    text-align: center; margin-top: 20px; width:100%;
}

a.navbar-brand {
    max-width: 250px;
}

.header-logo {
    height: 100%;   
}

.button-column {
    padding-left: 0px;
    padding-right: 0px;
}   

.login-changer {
    text-align: right;
}

.hidden-page {
    display: none;   
}

.footer-widget p {
    line-height: 130%;
}

.footer-widget h3 {
    margin-bottom: 5px;
}

.footer-widget h3:first-of-type {
    margin-top: 0px;   
}

.footer-widget h3 {
    margin-top: 10px;   
}

img {
    max-width: 100%;
}

#main-content h1, 
#main-content h2, 
#main-content h3, 
#main-content h4, 
#main-content h5, #main-content h6 {
    color: #1B7B81;
    font-weight: 500;
}

.lead {
   color: #1B7B81;
   font-weight: 500;
}

.diagram {
    background-color:#25acb4; 
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 20px; 
    padding-bottom: 20px;
    border-radius: 10px;
}

img.logo {
	background-color: white;
	display: block;
	vertical-align: middle;
	border-radius: 15px;
	border-style: solid;
	border-width: 5px;
	border-color: white;
	margin: auto;
}

.game-image-item, .logo-column-item {
    text-align: center;
    vertical-align: middle;
}

@media (max-width: 992px) {
    .logo-column-item {
        margin-bottom: 30px;   
    }
}

img.logo-landscape {
    max-width: 400px;
    width: 100%;
}

.sponsor-label {
    margin-bottom: 20px;
}

.home-section {
	margin-bottom: 0px;
}

.wrap-pattern {
	background-color: #161415;
	border-bottom: none;
}

.team-visualization-enabler {
    cursor: pointer;
}

.delete-group-span {
    cursor: pointer;
}

.leave-group-span {
    cursor: pointer;
}

.deleter-column {
    width: 30px;
}

.image-achievement {
    width: 100px;   
}

#footer {
    margin-top: 60px;   
}

.footer-widget {
    text-align: left; 
    margin-bottom: 0px;
}

.show-when-logged-out {
    display: none;   
}

.alert-success { 
    background-color: #F5F5F5;    
}

.alert {
    padding: 7px;
    border-radius: 10px;
}

.tab-pane-outline {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0px 0px 5px 5px;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}

.team-name {
    text-align: center;
    font-size: larger;
    font-weight: 700;
    margin-bottom: 5px;
}

.team-role {
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.team-photo {
    text-align: center;
}

/* Style for charts that are disabled before the competition */

.faded-chart {
    opacity: 0.25; 
    filter: alpha(opacity=25);
}

.hover-label {
    position: absolute;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.fuzzy-bottom {
    position: absolute;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(209,209,209,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(209,209,209,0)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(209,209,209,0) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(209,209,209,0) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(209,209,209,0) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(209,209,209,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d1d1d1', GradientType=0 );   
}

.fuzzy-top {
    position: absolute;
    background: rgba(209,209,209,0);
    background: -moz-linear-gradient(top, rgba(209,209,209,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(209,209,209,0)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(209,209,209,0) 0%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(209,209,209,0) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(209,209,209,0) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(209,209,209,0) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d1d1', endColorstr='#ffffff', GradientType=0 );   
}

/* FAQ styles */

.faq-search-box {
    float: right;
    width: 20em;
}

.faq-no-results {
    display: none;
}

/* Team page forms */

.form-inline .class-class-name {
    width: 160px;
}

.form-inline .class-teacher-username { 
    width: 160px;
}

/* Registration */

#user-registration-form {
	padding: 0 5%;
}

/* Style trickery for the pico dropdown selector */

a.old-pico-link:hover {
    background-color: #1e2936 !important;
}

#dropdown-pico-selector {
    padding-left: 0px;
    padding-right: 0px;
    min-width: 0px;
    color: #24acb4;
}

@media (max-width: 768px) {
    #pico-selector-menu-list {
        display: none;   
    }
    #dropdown-pico-selector {
        display: none;   
    }
    #pico-selector-menu {
        display: none;   
    }
    #mobile-old-pico-link {
        display: block;   
    }
}

@media (min-width: 768px) {
    #dropdown-pico-selector {
        display: block;   
    }
    #mobile-old-pico-link {
        display: none;   
    }
}

.caret {
    border-top: 0.4em solid;
    border-right: 0.4em solid transparent;
    border-left: 0.4em solid transparent;
}

/* Panels */

.panel-primary {
    border-color: #1B7B81;   
}

.panel-primary > .panel-heading {
    background-color: #1B7B81;
    background: #1B7B81;
    border-color: #1B7B81;
}

.panel-primary > .panel-heading+.panel-collapse > .panel-body {
   border-color: #1B7B81;    
}



/* Buttons */


/* line 43, ../scss/partials/_buttons.scss */

.btn {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #eeeeee;
    background: #eeeeee;
}

.btn:hover {
    background-color: #dcdcdc;
    background: #dcdcdc;
}

.btn-primary {
    /* background: #00a1cb;
    background-color:  #00a1cb; */
    background: #25acb4;
    background-color: #25acb4;
    border-color: #007998;
    color: white;
    text-shadow: 0 -1px 1px rgba(0, 40, 50, 0.35);
}

.btn-primary:hover {
    /* background-color: #008db2;
    background: #008db2; */
    background: #1f9299;
    background-color: #1f9299;
}

.btn-primary.active {
    background: #1B7B81;
}

.btn-success {
    background: #7db500;
    background-color: #7db500;
    border-color: #5a8200;
    color: white;
    text-shadow: 0 -1px 1px rgba(19, 28, 0, 0.35);
}

.btn-success:hover {
    background-color: #6b9c00;
    background: #6b9c00;
}

.btn-danger {
    background: #d9534f;
    background-color: #d9534f;
    border-color: #d43f3a;
    color: white;
    text-shadow: 0 -1px 1px rgba(103, 24, 13, 0.35);
}

.btn-danger:hover {
    background-color: #c9302c;
    background: #c9302c;
}


.btn-success:active {    
    color: white;
}

.btn-primary:active {    
    color: white;
}

.btn-danger:active {    
    color: white;
}

.radio-bar {
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 50px;
    border-bottom: 1px solid black;
    z-index: 1;
    width: 540px;
    height: 2px;
}

.feedback-label {
    width:115px;
    display:inline-block;
    text-align:center;
    white-space:nowrap;
    overflow:visible;
    vertical-align: top;
    margin-bottom: 10px;
}

.feedback-radio {
    margin-top:10px;
    display: inline-block;
    width:115px;
    text-align:center;
    z-index: 2;
}
