<!--
<aside id="bottom-widgets">
    
</aside> 
-->

<footer id="footer">
    <div class="container">
        <div class="col-md-3">
            <section class="footer-widget">
                <a href="http://www.pwning.net">
                    <img src="/img/ppp-logo.png" class="logo"/>
                </a>
            </section>
        </div>
        <div class="col-md-6">
            <section class="footer-widget">
                <h3 style="margin-top: 0px; margin-bottom: 5px">Created By</h3>
                <p style="line-height: 160%">
                    picoCTF is a collaboration of the 
                    <a href="http://ppp.cylab.cmu.edu/wordpress/">Plaid Parliament of Pwning</a> (PPP) of 
                    <a href="http://www.cylab.cmu.edu/">Cylab</a> and 
                    Team Daedalus of the 
                    <a href="http://www.etc.cmu.edu/site/">Entertainment Technology Center</a>.            
                    Both teams are student-run and based at <a href="http://www.cmu.edu/">Carnegie Mellon University</a>.
                </p>
                <h3 style="margin-bottom: 5px">Sponsored By</h3>
                <p style="line-height: 160%">
                    picoCTF is made possible by the support of our generous <a href="/sponsors">sponsors</a>, including 
                    <a href="http://www.trendmicro.com/">Trend Micro</a>.
                </p>
<!--
                <div style="text-align:center">
                    <p>&copy; 2014</p>            
                </div>
-->
            </section>
        </div>
<!--
        <div class="col-md-4">
            <section class="footer-widget" id="twitter-box">
                <a class="twitter-timeline" href="https://twitter.com/picoctf" data-widget-id="299009677822402560">Tweets by @picoctf</a>
            </section>
        </div>
-->
        <div class="col-md-3">
            <section class="footer-widget">
                <a href="http://www.trendmicro.com/"><img src="img/sponsors/trend_micro.svg" style="height:200px;" class="logo"/></a>
            </section>
        </div>
    </div> <!-- container -->
</footer> <!-- footer -->

<script>
!function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (!d.getElementById(id)) {
        js = d.createElement(s);
        js.id = id;
        js.src = "//platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
    }
}(document, "script", "twitter-wjs");</script>