<aside id="bottom-widgets">
    <div class="container">
        <div class="col-md-3">
            <section class="footer-widget">
                <img src="/img/ppp-logo.png" class="logo"/>
            </section>
        </div>
        <div class="col-md-5">
            <section class="footer-widget">
               <h3>Created By</h3>
                    <p>
                        picoCTF is a collaboration of the <a href="http://pp
p.cylab.cmu.edu/wordpress/">Plaid Parliament of Pwning</a> (PPP) of <a href="htt
p://www.cylab.cmu.edu/">Cylab</a> and <a href="http://www.etc.cmu.edu/projects/o
siris/">Osiris</a> of the <a href="http://www.etc.cmu.edu/site/">
                            Entertainment Technology Center
                        </a>.
                    </p>
                    <p>
                        Both teams are student-run and based at <a href="http://w
ww.cmu.edu/">Carnegie Mellon University</a>.
                    </p>
            </section>
        </div>
        <div class="col-md-4">
            <section class="footer-widget">
                <a class="twitter-timeline" href="https://twitter.com/picoctf" data-widget-id="299009677822402560">Tweets by @picoctf</a>
            </section>
        </div>
    </div> <!-- container -->
</aside> <!--bootom-widgets -->

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p>&copy; 2014</p>
            </div>
        </div>
    </div>
</footer> <!-- footer -->

<script>
!function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (!d.getElementById(id)) {
        js = d.createElement(s);
        js.id = id;
        js.src = "//platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
    }
}(document, "script", "twitter-wjs");</script>