<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <meta name="description" content="picoCTF">
    <meta name="author" content="Carnegie Mellon University">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ site.title }} - {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    {% for css_file in page.css_files %}
        <link href="{{ css_file }}" rel="stylesheet" media="screen">
    {% endfor %}

    {% if site.mode == 'production' %}
        {% include analytics.html %}
    {% else %}
        <script language="javascript">var ga = function (a,b,c,d) {}</script>
    {% endif %}
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>  
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">    
	
    <link href="/css/style.css" rel="stylesheet" media="screen" title="default">
    <link href="/css/width-full.css" rel="stylesheet" media="screen" title="default">
    <link href="/css/color-turquoise.css" rel="stylesheet" media="screen" title="default">   
	<link href="/css/main.css" rel="stylesheet" media="screen">   
	
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="/js/libs/notify.min.js"></script>
    <script src="/js/dependencies.js"></script>
    <script src="/js/navbar.js"></script>

    {% for js_file in page.pre_scripts %}
        <script src="{{ js_file }}"></script>
    {% endfor %}
</head>
