<nav class="navbar navbar-inverse navbar-lime navbar-static-top no-margin" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                <a class="navbar-brand navbar-brand-lime dropdown-toggle" href="/">
                    <img src="/img/2014_logo_blue2.svg" class="header-logo" alt="{{ site.title }}" id="current-logo">
                </a>            
                <ul class="nav navbar-nav" id="pico-selector-menu-list">
                    <li class="dropdown">
                    <a class="dropdown-toggle" id="dropdown-pico-selector" data-toggle="dropdown" href="#">
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu" id="pico-selector-menu">
                        <li class="old-pico-link"><a role="menuitem" tabindex="-1" href="http://2013.picoctf.com/" class="old-pico-link"><img src="/img/2013_logo.svg" style="width: 260px;"></a></li>  
                    </ul>
                  </li>  
                </ul>                     
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right" id="navbar-links">
                
            </ul>
        </div>
    </div>
</nav>

<script type="text/template" id="navbar-links-template">
    <% _.each(links, function(link, name) { %>
        <% if(typeof link == "object") {  %>
            <%= renderNestedNavbarLinks({
            menu_name: name,
            links: link,
            renderNavbarLinks: renderNavbarLinks,
            renderNestedNavbarLinks: renderNestedNavbarLinks
            }) %>
        <% } else { %>
            <li><a href="<%= link %>"><%- name %></a></li>
        <% }; %>
    <% }); %>
    <% if (topLevel) { %>
        <li id="mobile-old-pico-link"><a href="https://2013.picoctf.com">2013</a></li> <!-- JB: pico-specific. Remove this before we push as open source -->
    <% } %>    
</script>

<script type="text/template" id="navbar-links-dropdown-template">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%- menu_name %> <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <%= renderNavbarLinks({
            links: links,
            topLevel: false,
            renderNavbarLinks: renderNavbarLinks,
            renderNestedNavbarLinks: renderNestedNavbarLinks
            }) %>
        </ul>
    </li>
</script>


