<!DOCTYPE html>
<html lang="en" style="100%">

  {% include head.html %}

<body>

  {% include header.html %}

    <div clas="container">
      <div class="page-content">
          <div class="wrap">
              {{ content }}
          </div>
      </div>
    </div>

    {% include footer.html %}

    {% for js_file in page.post_scripts %}
        <script src="{{ js_file }}"></script>
    {% endfor %}

    <script>
    $(function () {
        {% for func in page.startup_functions %}
            {{ func }};
        {% endfor %}
    })
    </script>
</body>
</html>
