[flask]
SESSION_COOKIE_DOMAIN   = 127.0.0.1
SESSION_COOKIE_PATH     = /
SESSION_COOKIE_NAME     = flask
secret_key              = 00112233445566778899aabbccddeeff

[security]
allowed_protocols = https, http
allowed_ports = ,8080

[debug]
admin_emails            = admin@example.com

[logging]
write_logs_to_db        = true

[teams]
max_team_users          = 5

[email]
enable_email            = false 
smtp_url                =
username                =
password                =
from_addr               =
from_name               =

[autogen]
root_web_path           = /srv/http/main-site/
relative_auto_prob_path = autoproblems/

[mongodb]
addr                    = 127.0.0.1
port                    = 27017
db_name                 = pico
