---
layout: default
title: Classroom
post_scripts:
 - js/classroom.js
startup_functions:
 - redirectIfNotLoggedIn()
---
<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Group Management</h3>
                </div>
                <div class="panel-body">
                    <div id="group-management"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Team Management</h3>
                </div>
                <div class="panel-body">
                    <div id="group-selection"></div>
                    <div id="team-selection"></div>
                </div>
            </div>
        </div>        
    </div>
</div>

<script type="text/template" id="group-selection-template">
  <div>
      <% if(groups.length > 0) { %>
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="group-selector" class="col-sm-2 control-label">Select a group</label>
                <div class="col-sm-5">            
                    <select id="group-selector" class="form-control">
                        <option value="none-selected">None</option>
                        <% _.each(groups, function(group) { %>
                          <option value="<%- group.name %>"><a href="#"><%- group.name %></a></option>
                        <% }); %>
                    </select>            
                </div>
            </div>
        </form>
      <% } else { %>
        <pre>You do not own any groups yet!</pre>
      <% } %>
  </div>
</script>

<script type="text/template" id="team-selection-template">
  <% if(teams.length > 0 ) { %>
    <% _.each(teams, function(team) { %>
      <div class="row">
        <div class="col-md-12">
            <div class="problem panel panel-primary">
              <div class="panel-heading team-visualization-enabler" data-tid="<%= team.tid %>" data-toggle="collapse" data-target="#<%= team.tid %>">
                  <%- team.team_name %> <div class="pull-right"><%- team.competition_active ? team.score : '' %></div>
              </div>
              <div class="panel-collapse collapse" id="<%= team.tid %>">
                <div class="panel-body">
                  <div class="col-md-8">
                    <div class="team-visualizer">
                      Loading...
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="team-information">
                        <span class="team-members">Members:</span>
                        <ul>
                            <% _.each(team.members, function(member) { %>
                            <li><%- member %></li>
                            <% }) %>
                        </ul>
                    </div>
                  </div>
                </div>
              </div>
           </div>
        </div>
      </div>
    <% }) %>
  <% } else { %>
    <pre>
      This group has no members!
    </pre>
  <% } %>

</script>

<script type="text/template" id="group-info-template">
  <div>
    <% if(data.length > 0) { %>
      <table class="table">
        <thead>
          <tr>
            <th class="deleter-column"></th>
            <th>Group Name</th>
          </tr>
        </thead>
        <tbody>
          <% _.each(data, function(group) { %>
            <tr>
              <td>
                <span data-group-name="<%- group.name %>" class="glyphicon glyphicon-remove delete-group-span"></span>
              </td>
              <td>
                <p><%- group.name %></p>
              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    <% } %>
    
      <form class="form form-inline" id="group-request-form" type="submit">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit">Create</button>
            </span>
            <input type="text" class="form-control" id="group-name-input">
          </div>
        </div>      
    </form>
  </div>
</script>
