---
layout: default
title: Login
post_scripts:
 - js/shell.js
startup_functions:
 - redirectIfNotLoggedIn()
---

<script type="text/template" id="shell-account-credentials-template">
  <div class="well">
    <p class="text-center">
      Username: <%- account.username %> Password: <%- account.password %> | ssh <%- account.username %>@<%- account.hostname %> -p <%- account.port %>
    </p>
  </div>
  <div class="alert alert-info text-center">
    The password will not be displayed as you type.
  </div>
</script>

<div class="container">
  <div class="row">
    <div id="shell-account-credentials"></div>
  </div>
  <div class="row">
    <iframe src="https://shell.picoctf.com/" width="100%" height="600px"></iframe>
  </div>
</div>

