---
layout: default
title: Team
post_scripts:
 - js/progression_graphs.js
 - js/team.js
startup_functions:
 - redirectIfNotLoggedIn()
---

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div id="team-info"></div>
    </div>
    <div class="col-md-6">
      <div id="group-info"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
        <div class="well" id="team-progression-graph-container" >
            <div id="team-progression-graph"></div>
        </div>
    </div>
  </div>
</div>

<div class="modal fade" id="confirm-group-join" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Group Confirmation</h4>
      </div>
      <div class="modal-body">
        By joining a group you are allowing the owner to see individual statistics concerning your team's performance. Are you sure you want to join this group?
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-primary" id="join-group">Join</button>
        <button type="button" data-dismiss="modal" class="btn">Cancel</button>
      </div>
    </div>
  </div>
</div>

<script type="text/template" id="group-info-template">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Group Management</h3>
    </div>

    <% if(data.length > 0) { %>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Group Name</th>
          </tr>
        </thead>
        <tbody>
          <% _.each(data, function(group) { %>
            <tr>
              <td>
                <span data-group-name="<%- group.name %>" class="glyphicon glyphicon-remove leave-group-span"></span>
              </td>
              <td>
                <p><%- group.name %> (<%- group.owners.join() %>)</p>
              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    <% } %>

    <div class="panel-body">
      <form class="form form-inline" id="group-request-form" type="submit">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-btn">
              <button class="btn btn-danger" id="join-group">Join</button>
            </span>
            <input type="text" class="form-control" id="group-name-input">
          </div>
        </div>
      </div>
    </form>
  </div>
</script>

<script type="text/template" id="team-info-template">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Team: <strong><%- data.team_name %> <div class="pull-right"><%- data.competition_active ? data.score : '' %></strong></h3>
    </div>
    <div class="panel-body">
      <p>Members</p>
      <ul>
        <% _.each(data.members, function(username) { %>
          <li><%- username %></li>
        <% }); %>
      </ul>
        <p>You may have up to <%- data.max_team_size - _.size(data.members) %> more member<%- (data.max_team_size - _.size(data.members)) == 1 ? "" : "s" %> on your team</p>
    </div>
  </div>
</script>
